:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px 0 60px;

  svg {
    margin-right: 8px;
  }
}

.header-title {
  font-size: 28px;

  &:hover {
    cursor: pointer;
  }
}

.header-button-wrap {
  padding: 4px 10px;
  box-shadow: 0 0 200px 1px white;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  margin-right: 6px;
  background: #f5e9ec6b;
  border: 0.5px solid white;
}

.header-button-text {
  font-size: 20px;
  margin: 0 0 -2px 0;
  color: black;
}
