:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
  position: relative;
  color: white;
}

.lists-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.lists-wrap {
  width: 80%;
  height: 80%;
  background: rgba(165, 156, 158, 0.82);
  padding: 32px 100px 200px 100px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1000px 1px #c4c2c2;
}

.list-preview {
  font-size: 18px;
  margin-left: 16px;
  padding: 16px 32px;
  border-radius: 8px;
  background: rgba(253, 247, 248, 0.82);
}
