:host {
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 10px;
  color: white;
  background-color: rgba(172, 159, 164, 0.63);
  backdrop-filter: blur(6px);
}

.create-list-close-icon {
  position: absolute;
  right: 16px;
  top: 18px;
  z-index: 1;
  opacity: 0.5;
}

.create-list-wrap {
  display: flex;
  flex-direction: column;
}

.create-list-button {
  padding: 6px 14px;
  border-radius: 24px;
  margin-top: 16px;
  background: var(--bg-03);
  border: var(--border-01);

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.create-list-icon {
  padding: 4px;
  border-radius: 50%;
}

.create-list-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
}

.create-list-input {
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 16px;
  width: 400px;
  margin-right: 10px;
  background: #e7e5e5;
  border: var(--border-01);
}

.create-list-block {
  margin: 24px 0;
}

.create-list-desire-wrap {
  display: flex;
  margin-top: 4px;

  &:first-of-type {
    margin-top: 24px;
  }
}

.create-list-desire {
  padding: 8px 16px;
  width: 400px;
  border-radius: 16px;
  border: var(--border-01);
  margin-right: 10px;
}
